<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS First Example (HOME)</title>
  </head>
  <body>
    <h1>HomePage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum
      esse consequuntur obcaecati quod adipisci sunt, ab quae nostrum facere!
      Sunt quam quos nostrum omnis quisquam incidunt officiis laboriosam
      deserunt? Incidunt quam voluptatum, illo accusamus, natus possimus alias
      atque exercitationem dolores distinctio aliquam? Cum incidunt aliquam
      voluptates itaque eos hic accusantium ratione aperiam quo quidem libero,
      magnam enim deleniti necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nostrum
      mollitia, ipsam maxime consequatur aliquid aspernatur consequuntur nobis
      error non perspiciatis? Omnis voluptas, qui facere maiores veniam quia et
      dolorem!
    </p>
  </body>
</html>
