/* This is a CSS Reset Template used by programmers to get a clean CSS plate */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* OUR CODE STARTS HERE */

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html {
    font-family: 'Open Sans', sans-serif;;
    box-sizing: border-box;
    /* This basically means when you set a width of say 100px
    on an element that is going the include the border width as well so border won't have
    it's own extra width which happens by default.*/
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    transition: all 1s;
}



.pricing-plan {
    border-bottom: solid 1px #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
    /* This just says make sure image is not scaled down i think. */
}

.pricing-header {
    color: #888;
    font-weight: 800;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0px 25px;
    /* 50px on top, 0px on left and right and 25px on bottom */
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: solid 1px #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: solid 1px #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700; /* I was making a mistake of putting px in font weight cause of which it wasn't changing so make sure to remember font-weight is a unit-less property.*/
}

.pricing-button {
    border: 1px solid #9dd1ff;
    text-decoration: none;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    margin: 25px 0px;
    transition: background-color 200ms ease-in-out;
    font-weight: 600;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color:white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
    background-color:#269aff;
}

@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }

}

