#normal {
    background-color: palegreen;
    border: solid 2px black;
    height: 500px;
    width: 500px;
}


/* when there are descendent elements % helps us to get relavent sizes like here we would be fucked if you used pixels to get half the height and width */
div {
    background-color: darkgrey;
    width: 50%;
    height: 50%;
}


#forem {
    font-size: 40px;
}

button {
    /* em is used just so we don't have to deal with pixels as and when we change the button size and the corners don't stay the same curve as they were before */
    font-size: 1em;
    border-radius: 0.5em;
    padding: 0 1.5em;
    background-color: palegoldenrod;
}

/* em gives a snowballing/compounding effect in case of like lists as you go down from the parent */
#forEmExample ul {
    font-size: 1.25em;
}
/* whereas rems remember what the parent size was and always do 1.2 of the parent itself. */
/* so use em in buttons and rem in lists unordered/ordered */
#forRemExample ul {
    font-size: 1.2rem;
}
